.env

# Python
.venv/
__pycache__/
*.py[cod]

# IDE
.vscode/

# Logs
*.log

# Airflow
airflow/logs/

# OS
.DS_Store
Thumbs.db

# Data files
data/raw/*
data/processed/*

# Test/cache
.pytest_cache/
.coverage

# Local backup
docker-compose.backup.yml